body{
    background-color:#d3e0ea;
}
h1{
    color: #0a043c;
    text-align: center;
    font-family:'Times New Roman';
    font-variant: small-caps ;
}
h2{
    color: #0a043c;
    font-family:'Times New Roman';
    font-variant: small-caps ;
}
.two{
    text-align: center;
    padding-top: 50px;
}
a:link, a:visited {
    background-color:#0f3057;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:hover, a:active {
    background-color: #0f3057;
}
.one{
    text-align: center;
    font-family:'Times New Roman';
    font-variant: small-caps;
    width: 90% auto;
    height: 50px;
    background-color: #0f3057;
}
.one ul li {
    list-style-type: none;
    float: left;
    padding-right: 2.5em;
    color: #e7e7de;
}
.one ul{
    float: right;
}
img{
    display: table-cell;
    border-radius: 100%;
    width:250px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}